#suiteBarLeft {
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}


#leftSuiteImage {
	width:auto;
	float:left;
}

#rightSuiteImage {
	width:auto;
	float:right;
}


#suiteText {
	display: block;
	line-height: normal;
	height: 100%;
	width:auto;
	text-align: center;
	font-size:1.1em;
	overflow:hidden;
}

@media screen and (max-width:1024px){
	#rightSuiteImage{
		display: none !important;
	}

	#suiteText{
		width:auto;
	}
}

@media screen and (max-width:780px){
	#rightSuiteImage{
		display: none !important;
	}

	#leftSuiteImage{
		display: none !important;
	}

	#suiteText{
		width: 100% !important;
	}
}