* {
    box-sizing:border-box;
}

.container {
    width:960px;
    margin: 0 auto;
    padding-top:25px;
    text-align:center;
}

#page img {
    padding-bottom:25px;
}


.default-text {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    padding-bottom:8px;
}

.default-text img {
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}



